##nanorc
##by samurai@psych0tik.net
##if you're thinking "gee, nano, rather than vi/m"... feel free to not use this ;)

##set up the environment
set historylog
set nonewlines
set softwrap
set smooth
set const	##always display our position. we'll see if i end up liking this or not..
set morespace	##small displays sometimes
##set tabsize 6

##get local syntax files
Include ~/.nano-syntax/css.nanorc
Include ~/.nano-syntax/debian.nanorc
Include ~/.nano-syntax/gentoo.nanorc
Include ~/.nano-syntax/html.nanorc
Include ~/.nano-syntax/nanorc.nanorc
Include ~/.nano-syntax/perl.nanorc
Include ~/.nano-syntax/php.nanorc
Include ~/.nano-syntax/python.nanorc
Include ~/.nano-syntax/redcode.nanorc
Include ~/.nano-syntax/sh.nanorc
Include ~/.nano-syntax/xml.nanorc


##key re-bindings
bind ^J help main	## please dont justify my code for me... that just destroys everything
bind F4 help main	## because one way to do that just wasnt enough :P
bind ^B prevword all	##zsh style moves
bind ^F	nextword all	##zsh style moves
